sudo: false

language: go

go:
  - 1.4.3
  - 1.5.4
  - 1.6.3
  - tip

before_install:
  - go get -t -v ./...
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover

script:
  - go test -v -covermode=count -coverprofile=profile.cov .
  - go tool cover -func profile.cov
  - goveralls -coverprofile=profile.cov -service=travis-ci
